@{
    ViewData["Title"] = "PIN form";
}
@model PinFormViewModel

    <form asp-action="PinForm" asp-controller="PinForm">
        <label asp-for="Pin"></label>
        <input asp-for="Pin" placeholder="Enter your pin" />
        <input type="submit" />
    </form>