@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Personal Identification Number validation web site. Please use link below.</h1>
    <a asp-area="" asp-controller="PinForm" asp-action="PinForm">Go to PIN form</a>
</div>
